.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template: 30vh 17vh 53vh / 100%;
    padding: 6%;
    color: #fff;
    background-color: transparent;
    /*border-right: 1px solid rgba(var(--b6a,219,219,219),1);*/
}

.Menu__photo-container{
    width: 100%;
    overflow: hidden;
    padding: 5%;
}

.Menu__photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    opacity: 0.6;
    transition: opacity 0.5s;
}

.Menu__photo:hover{
    opacity: 1;
    transition: opacity 0.5s;
}

.Menu__info {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Menu__info .floatingDiv {
    margin: 0 auto;
    text-align: center;
}

.MyName {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    line-height: 30px;
}

.career {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
}

.career .red {
    color: #F4B400;
}

.Menu__links{
    padding-top: 10%;
}

.Menu__links nav{
    width: 100%;
}

.Menu__links nav ul {
    padding: 0;
    margin: 0;
}

.Menu__links nav ul li{
    list-style: none;
    width: 100%;
    height: 45px;
}

a.Menu__option{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #888;
    text-decoration: none;
    padding: 0 3%;
    border-radius: 30px;
    margin: 4% 0;
    transition: background-color 0.5s;
}

a.Menu__option.selected {
    background-color: rgba(255, 255, 255, 0.1);
    color: #888;
    text-decoration: none;
}

a.Menu__option span{
    padding: 0 4%;
}

a.Menu__option:hover {
    background-color: rgba(54, 35, 67, 0.5);
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s;
}

.Menu__button-container {
    display: none;
}

.Menu__button-icon{
    width: 60px;
    height: 35px;
}

.Menu__button {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    padding:0;
    margin:0;
    color: #888;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}

.showed {}

.Menu__button-close__container{
    display: none;
    width: 100%;
    height: 10vh;
    color:#888;
}

.Menu__button-close {
    width: 70px;
    height: 80%;
    border: 0;
    background: transparent;
}

.Menu__button-close__icon {
    width: 60px;
    height: 60px;
    color:#888;
}

@media only screen and (max-width: 700px) {
    .Menu {
        display: flex;
        position: fixed;
        height: 10vh;
        justify-content: space-between;
        width: 100%;
        padding:0 3%;
    }

    .Menu__info {
        justify-content: flex-end;
        height: 100%;
    }

    .Menu__button-container{
        display: block;
        height: 50px;
    }

    .Menu__photo-container {
        display: none;
    }

    .Menu__info .floatingDiv {
        display: none;
    }

    .Menu__links {
        position: fixed;
        right:-100vw;
        top:0;
        width: 100%;
        height:100vh;
        background-color: #111;
        padding:0 5%;
        transition: right 0.5s;
    }

    .showed {
        right: 0;
        transition: right 0.5s;
    }

    .Menu__button-close__container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}